body {
  color: #fff;
}

.backgroundShape {
  width: 300%;
  height: 300%;
  border-radius: 2000;
  background: #fff;
}
.header {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
li {
  margin-right: 20px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
}
.active {
  color: #fff;
  font-weight: bold;
}

.button {
  padding: 10px 30px;
  color: #fff;
  background: #ea27d7;
  border-radius: 12px;
  cursor: pointer;
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -20px;
}
.main {
  background-image: url("/layer_bg.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.mainText {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.mainText h2 {
  font-size: 50px;
  color: #fdab0d;
}
.mainText h1 {
  font-size: 60px;
}
.mainText p {
  margin-top: 20px;
  font-weight: bold;
  width: 50%;
  margin-bottom: 50px;
}
.mainBg {
  top: -100;
  z-index: 1;
  position: "absolute";
  width: 100%;
  height: 100%;
}
.mainImg {
  padding-right: 50px;
  height: 100%;
  width: auto;
  padding-bottom: 200px;
}
.buttonPrimary {
  font-weight: bold;
  padding: 10px 30px;
  color: #cc0303;
  background: #fff;
  border-radius: 12px;
  width: 30%;
  text-align: center;
  border-color: #fff;
}
.footer {
  background: #2e3447;
}
.footer p {
  padding: 100px;
  text-align: center;
}
.menuWrapper {
  background-color: #fff;
  color: #2e3447;
  align-items: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2e3447;
}

.menu-item {
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

/* Container styling */
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: #2e3447;
  padding: 20px;
  border-radius: 10px;
}

/* Title styling */
.container h1 {
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* Category button styling */
.category-button {
  background-color: #ffc0cb;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
  cursor: pointer;
  flex: 1 1 180px;
  margin: 10px;
}

.category-button:hover {
  background-color: #ff99aa;
}
/* Media Queries for Responsive Design */

/* Basic Responsive Styling */
@media (max-width: 1200px) {
  .mainText h2 {
    font-size: 40px;
  }
  .mainText h1 {
    font-size: 50px;
  }
  .mainText p {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }
  img {
    display: none;
  }
  .ul {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
  }

  .main {
    flex-direction: column;
  }

  .mainText {
    padding: 20px;
  }

  .mainImg {
    padding-right: 0;
    padding-bottom: 50px;
  }

  .buttonPrimary {
    width: 100%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }

  .mainText h2 {
    font-size: 30px;
  }
  .mainText h1 {
    font-size: 40px;
  }
  .mainText p {
    width: 100%;
  }

  .button {
    padding: 8px 20px;
  }

  .footer p {
    padding: 50px;
  }

  .menu-item {
    flex: 1 1 100%;
  }

  .Container {
    padding: 10px;
  }

  .category-button {
    flex: 1 1 100%;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }

  .mainText h2 {
    font-size: 24px;
  }
  .mainText h1 {
    font-size: 30px;
  }
  .mainText p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .button {
    padding: 5px 15px;
  }

  .footer p {
    padding: 20px;
  }

  .category-button {
    font-size: 10px;
  }
}
